
.container {
	background: url(../assets/sea.jpg);
	height: 910px;
	max-width:100%;
	margin: auto;
	text-align: center;
}
.app{
	font-size: 2.6em;
	font-weight: bold;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
}

.item-list {
	padding: 1em;
}

.thumbnail{
	padding: 0.5em;
	height: 7em;
	opacity: 0.7;
}

.active-item{
	margin-top:20px;
	padding: 5%;
	height: auto;
	background: white;
	opacity: 0.8;
	text-align: center;
}

p{
	font-size: 1.5em;
	text-align: left;
}

.lorem-img{
	max-width: 100% !important;
	height: auto !important;
	opacity: 1;
}
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/bootstrap/dist/css/bootstrap-theme.css";